{% extends 'app/base.html' %}
{% block content %}
<div class="container">
<div class="row">

    <h1>Investment Compliance Form</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">title</label>
        <input type="text" class="form-control" name="title">
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 1</label>
        <textarea class="form-control" rows="3" name="paragraph1"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 2</label>
        <textarea class="form-control" rows="3" name="paragraph2"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 3</label>
        <textarea class="form-control" rows="3" name="paragraph3"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 4</label>
        <textarea class="form-control" rows="3" name="paragraph4"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 5</label>
        <textarea class="form-control" rows="3" name="paragraph5"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 6</label>
        <textarea class="form-control" rows="3" name="paragraph6"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 7</label>
        <textarea class="form-control" rows="3" name="paragraph7"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 8</label>
        <textarea class="form-control" rows="3" name="paragraph8"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 9</label>
        <textarea class="form-control" rows="3" name="paragraph9"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 10</label>
        <textarea class="form-control" rows="3" name="paragraph10"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 11</label>
        <textarea class="form-control" rows="3" name="paragraph11"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 12</label>
        <textarea class="form-control" rows="3" name="paragraph12"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 13</label>
        <textarea class="form-control" rows="3" name="paragraph13"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 14</label>
        <textarea class="form-control" rows="3" name="paragraph14"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 15</label>
        <textarea class="form-control" rows="3" name="paragraph15"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 16</label>
        <textarea class="form-control" rows="3" name="paragraph16"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 17</label>
        <textarea class="form-control" rows="3" name="paragraph17"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 18</label>
        <textarea class="form-control" rows="3" name="paragraph18"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 19</label>
        <textarea class="form-control" rows="3" name="paragraph19"></textarea>
    </div>

    <div class="col-md-12 mt-3">
        <label for="" class="form-label">Paragraph 20</label>
        <textarea class="form-control" rows="3" name="paragraph20"></textarea>
    </div>

    <div class="input-group mb-3 mt-5">
        <input type="file" class="form-control" name="pdf_file">
    </div>

    <button class="btn btn-warning mb-5" type="submit">Add now</button>
</form>

</div>
</div>

{% endblock %}